body{
    justify-items: center;
}
.container{
    text-align: center;
    height: 400px;
    width: 700px;
    background-color: rgb(17, 132, 177);
}
#heading{
    padding-top: 20px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
}